<h1>Editing Presentation</h1>

<%= render 'form', presentation: @presentation %>
<div class="field">
	<% user = User.find(@presentation.uploader_id.to_i)%>
    <B><I><%= ("Subido por " + user.username) %> </I></B>
</div>
<%= link_to 'Ir a', @presentation %> 
<%= link_to 'Volver', congress_category_presentations_path, class: "btn btn-info" %>
