<div class="container">
	<h1>Nueva Ponencia </h1>
	<p class="pull-right"><b><i><%= ("Subido por " + current_user.username) %></i></b></p>
		

	<%= render 'form', presentation: @presentation %>

	<%= link_to 'Volver', congress_category_path(@congress, @category), class: "btn btn-info" %>


</div>