<h1>Nueva Ponencia</h1>

<%= render 'form', presentation: @presentation %>
<div class = "field">
<B><I><%= ("Subido por " + current_user.username) %></I></B>
</div>
<%= link_to 'Volver', congress_category_presentations_path, class: "btn btn-info" %>
