<div class="media">
    <div class="media-left">
        <img src="<%= image_url('calendar.png') %>" class="media-object" style="width:45px">
    </div>
    <div class="media-body">
        <h4 class="media-heading"><%=event.name%> <small><i>Fecha de Inicio: <%=event.start_date %></i></small></h4>
        <p><%=event.description%></p>
    </div>
</div>