<div class="container">
	<h1>Editing News</h1>

	<%= render 'form', news: @news %>

	<%= link_to 'Ir a', congress_news_path(@congress, @news) %> |
	<%= link_to 'Back', congress_path(@congress) %>
</div>