<h1>Editing Category</h1>

<%= render 'form', category: @category %>

<%= link_to 'Ir a', congress_category_path(params[:congress_id], @category) %> |
<%= link_to 'Volver', congress_categories_path %>
