<% @congress = Congress.find_by(:default => true)%>
<% if @congress != nil %>
	<img src=<%= @congress.logo.url %> alt="Congreso Estudiantil Universitario">
<%end%>

<p>Tu cuenta ha sido bloqueada por exceso de intentos fallidos de inicio de sesión.</p>

<p>Para desbloquearla, haz click en el siguiente enlace:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
